.di-img{
    width: 400px;
}

.flex-container{
    margin: auto;
    margin-top: -30px;
    display: flex;
}

.flex-container > div {
    margin: 20px;
    width: 80%;
}

.tts{
    font-weight: 700;
}

.transcript{
    color: #7C8493;
    font-size: 12px;
    width: 300px;
    text-align: justify;
    height: 180px;
    overflow-y: scroll;
}


.tts-div{
    border: 1px solid #7C8493;
    padding: 18px;
}

.q-display {
    font-size: 14px;
    font-style: normal;
    color: #7C8493;
    margin: auto;
    font-style: normal;
    line-height: 160%;
    width: 80%;
}

.text-display-div {
    align-items: center;
    gap: 20px;
    margin: auto;
    margin-bottom: 100px;
    margin-top: -40px;
    padding: 24px;
    color: white;
    height: 80px;
}

.section-btn-actions {
    gap: 25px;
    margin-left: 32px;
    margin-right: 32px;
}

.text-display {
    font-size: 24px;
    font-style: normal;
    color: #25324B;
    margin: auto;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
}

.q-display-div{
    margin-top: -100px;
    margin-bottom: 30px;
    text-align: center;
}

.timer-div{
    display: flex;
    align-items: center;
    margin: auto;
    margin-bottom: 40px;
    padding: 24px;
    color: white;
    width: 80%;
    height: 30px;
}

.submit-btn{
    margin-right: 15%;
    padding: 10px 30px;
    color: #1B4893;
    font-weight: 500;
    background-color: #925bff2c;
    border-width: 0;
    cursor: pointer;
}

.transcript-btn{
    margin-right: 15%;
    padding: 10px 30px;
    color: #1B4893;
    font-weight: 500;
    background-color: #925bff2c;
    border-width: 0;
    cursor: pointer;
}
  
.btn1 {
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    
}

.submit-div{
    text-align: right;
    margin: auto;
}

.start-btn{
    margin-right: 15%;
    padding: 10px 30px;
    color: #1B4893;
    font-weight: 500;
    background-color: #925bff2c;
    border-width: 0;
    cursor: pointer;
}
  
.start-div{
    text-align: right;
    margin: auto;
}

.buttons {
    margin : auto;
    display: flex;
}