.di-page-contents{
    margin-left: 20%;
}

main {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.di-mainClass {
    margin-left: 20%;
}

.di-greeting {
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
}

.di-greeting-title {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin: 0;
    margin-bottom: 20px;
    color: #25324B;
}

.di-greeting-desc {
    margin: 0;
    color: #7C8493;
}

.di-section-btn-actions {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 25px;
    margin-left: 32px;
    margin-right: 32px;
}

.di-text-display-div {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: auto;
    margin-bottom: 100px;
    padding: 24px;
    color: white;
    width: 80%;
    height: 80px;

}

.di-btn-actions-number {
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
}

.di-text-display {
    font-size: 24px;
    font-style: normal;
    color: #25324B;
    margin: auto;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
}

.di-btn-actions-icon {
    margin-left: auto;
    margin-right: 0;
}

.di-section-job-statistics {
    margin-left: 32px;
    margin-right: 32px;
    display: flex;
    gap: 24px;
    width: 100;
}

.di-card-job-stats{
    border: 1px solid lightgrey;
    width: 66%;
}

.di-card-jobs-stats-header {
    display: flex;
    justify-content: center;
    padding-top: 24px;
    flex-direction: column;
    padding-left: 24px;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 40px;
}

.di-card-jobs-stats-header-title {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin: 0;
    margin-bottom: 4px;
    color: #25324B;
}

.di-card-jobs-stats-header-desc {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    margin: 0;
    color: #7C8493;
}

.di-card-tabs {
    display: flex;
    width: 727px;
    align-items: flex-start;
    gap: 40px;
    margin-top: 16px;
    margin-bottom: 0;
    padding: 0;
}

.di-card-tabs li {
    list-style-type: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    padding-bottom: 7px;
}

.di-card-jobs-stats-content {
    display: flex;
}

.di-card-right-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;  
    width: 33%;
}

.di-btn-play-icon{
    margin: auto;
}

.di-btn-section{
    margin: auto;
    background-color: #c6c6c6;
    padding: 20px;
    border-radius: 100%;
    width: 50px;
}

.di-timer-text{
    font-size: 15px;
    font-style: normal;
    color: #25324B;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    margin: auto;
}

.di-timer-div{
    display: flex;
    align-items: center;
    gap: 20px;
    margin: auto;
    margin-bottom: 100px;
    padding: 24px;
    color: white;
    width: 80%;
    height: 80px;
}

.di-title{
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin: 0;
    margin-bottom: 8px;
    color: #25324B;
}

.di-desc{
    font-size: 14px;
    color: #7C8493;
}

.di-job{
    margin-left: 32px;
}

.di-interview-details{
    margin: 0px 0px 0px 30px;
}

.di-title2{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin: 0;
    margin-bottom: 8px;
    color: #7C8493;
}

.di-interview-details-indent{
    margin: 20px 0px 0px 30px;
}

.di-bold-span{
    color: #25324B;
    font-weight: 700;
}

.di-interview-instructions{
    margin: 0px 0px 0px 30px;
}

.di-points{
    font-size: 14px;
    color: #7C8493;
    padding: 10px;
}

.di-hline{
    width: 100%;
    height: 2px;
    background-color: #7C8493;
    margin: auto;
}

.di-interview-button{
    width: 250px;
    height: 40px;
    margin: auto;
    background-color: #1b4893;
    border: #1b4893;
    color: white;
    font-weight: 600;
}